fastapi
uvicorn[standard]
sqlalchemy
alembic
psycopg2-binary
pydantic
pydantic-settings
python-multipart
pymupdf
Pillow
gigachat
httpx
python-dotenv
pytest
tesserocr
pdf2image
PyMuPDF
openai
passlib
bcrypt==4.0.1
PyJWT
email-validator
